<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h2>A qui voulez vous envoyer le message</h2>

    <form action="/login" method="post">
        <label for="name">Votre Nom et prenom:</label>
        <input type="nom" id="name" name="name"><br><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="destinataire">destinataire:</label>
        <input type="name" id="destinataire" name="destinataire"><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
